@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0px;
    padding: 0px;
}
::selection {
    color: unset;
    background: transparent;
}
.body, .cursor, button, a, div {cursor: url("../images/cursor.png"), auto;}
.cursor {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
button {
    transition: .225s;
    min-width: 175px;
    padding: 7px 50px;
    margin-top: 12px;
    background: transparent;
    color: black;
    border-radius: 200px;
    border: 2.5px solid black;
    font: 500 16px "inter";
    font-style: normal;
    text-align: center;
}
button:hover {
    background: black;
    color: white;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.elements {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}
.right_image-container {
    position: absolute;
    width: 50%;
    height: 90vh;
    right: 0px;
    margin: 4.90vh;
    box-sizing: border-box;
}
.right_image {
    transition: .3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") rgb(66, 146, 167);
    background-size: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    z-index: -1;
}
.right_image-container:hover .right_image {
    background-size: 130vh;
    filter: brightness(70%);
}
.right_image-container:hover footer, .right_image-container:hover footer a {
    color: #ffffffc4;
}
header {
    margin: 0px;
    padding: 2%;
    text-align: center;
    background: black;
    color: white;
    font: 400 12px "inter";
    border-radius: 8px 7px 0px 0px;
}
header a {
    transition: .2s;
    color: white;
    font-weight: 600;
}
header a:hover {
    color: pink;
}
header b {
    font-weight: 600;
}
footer {
    transition: .2s;
    margin: 0px;
    padding: 30px;
    position: absolute;
    box-sizing: border-box;
    text-align: right;
    width: 100%;
    bottom: 0px;
    font: 500 14px "inter";
    color: #ffffff00;
}
footer a {
    transition: .2s;
    color: #ffffff00;
    font-weight: 600;
    cursor: pointer;
}
footer a:hover {
    color: #ffffff;
}
@media only screen and (max-width:1000px) {
    .right_image-container {
        display: none;
    }
    .elements {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
    }
    .mobile {
        display: unset;
        position: absolute;
        width: 100%;
        border-radius: 0px;
        box-sizing: border-box;
    }
}
