@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0px;
    padding: 0px;
}
::selection {
    color: unset;
    background: transparent;
}
.body, .cursor, button, a, div {cursor: url("../images/cursor.png"), auto;}
.cursor {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
button {
    transition: .2s;
    min-width: 175px;
    padding: 8px 50px;
    margin-top: 12px;
    background: transparent;
    color: black;
    border-radius: 200px;
    border: 2.5px solid black;
    font: 500 16px "inter";
    font-style: normal;
    text-align: center;
}
button:hover {
    background: black;
    color: white;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.elements {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}
.right_image {
    position: absolute;
    width: 50%;
    height: 92%;
    right: 0px;
    margin: 1.85%;
    box-sizing: border-box;
    background: url("../images/background-earthday.webp");
    background-size: cover;
    border-radius: 7px;
}
header {
    margin: 0px;
    padding: 2%;
    text-align: center;
    background: pink;
    color: black;
    font: 400 12px "inter";
    border-radius: 7px 7px 0px 0px;
}
header a {
    color: black;
    font-weight: 600;
    cursor: pointer;
}
header b {
    font-weight: 600;
}
.mobile {
    display: none;
}
@media only screen and (max-width:1000px) {
    body {
        background: black;
    }
    .mobile-round {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 10px;
        z-index: -100;
    }
    .right_image {
        display: none;
    }
    .elements {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
    }
    .mobile {
        display: unset;
        position: absolute;
        width: 100%;
        border-radius: 0px;
        box-sizing: border-box;
    }
}